[Unit]
Description=KAOS TV
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 30
Type=exec
Restart=always
RestartSec=5s
KillSignal=SIGINT
Environment="TELEG_TOKEN=xxx"
ExecStart=/home/ktv/miniconda3/envs/kaos_tv/bin/python /home/ktv/kaos_tv/main.py

[Install]
WantedBy=default.target
